@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeIn {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon-link {
    transition: 0.2s;
}

.icon-link:hover {
    transform: scale(1.1);
}

.slideIn {
    animation: slideInAnimation ease-in-out 0.5s forwards;
    bottom: -100px;
    position: fixed;
}

@keyframes slideInAnimation {
    100% {
        bottom: 0;
    }
}

.header {
    margin-top: 5rem;
    font-size: 3rem /* 30px */;
    line-height: 1rem /* 36px */;
    animation: headerAnimation ease-in-out 0.5s forwards;
}

@keyframes headerAnimation {
    100% {
        margin-top: 0.875rem;
        font-size: 1.875rem /* 30px */;
        line-height: 2.25rem /* 36px */;
    }
}

.header-margin {
    height: 6rem;
    animation: headerMarginAnimation ease-in-out 0.5s forwards;
}

@keyframes headerMarginAnimation {
    100% {
        height: 0rem;
    }
}

html {
    scroll-behavior: smooth;
}

.leaflet-container {
    height: 650px;
    width: 600px;
}
