@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeIn {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon-link {
    transition: 0.2s;
}

.icon-link:hover {
    transform: scale(1.1);
}

.content {
    animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        left: -1000px;
    }
    100% {
        left: 10px;
    }
}
